---
layout: default
onepage: false
services:
  - title: Application Security Assessments
    <!-- icon: fa fa-cogs -->
    icon: fa fa-code
    desc: Xladius Application Security Assessments utilize Application Penetration Tests and Code Review to ensure the security of your web or thick client applications. With methodologies that go far beyond the scanners or other off-the-shelf tools, Xladius performs manual, penetration tests to protect your company's secrets and interlectual property.
    <!-- bg: /assets/images/@stock/service-item-1-bg.jpg -->
  - title: Infrastructure Security Assessments
    icon: fa fa-database
    desc: We perform external and internal infrastructure VA/PTs. Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus.
    <!-- bg: /assets/images/server.png -->
  - title: Red Team Security Assessments
    icon: fa fa-envelope
    desc: By using real world attacks, Xladius performs Red Team engagements. These Adversary Attack Simulations, will simulate advanced attacks, simulating APT or targeted attack campaignes against government or businesses around the world.
    <!-- bg: /assets/images/server.png -->
  - title: IoT and ICS Security Assessments
    icon: fa fa-sun-o
    desc: Xladius delivers IoT and ICS secuirty assessments in Central Europe and the Middle East and covered a diverse range of Penetration Tests and Vulnerability Research against PLCs, HMIs, DCS, Field busses and other mission critical components. We bring extensive expertise in the power and electritity field, production and assembly, Industry 4.0 as well as Oil&Gas.
    <!-- bg: /assets/images/ics1.jpg -->
  - title: Vulnerability Research and Exploit Development
    icon: fa fa-bolt
    desc: We strongly believe that active Vulnerability Research must be part of any effective security company. This allows our staff to develop custom tools and hacking techniques that will benefit our commercial projects directly.
    <!-- bg: /assets/images/@stock/service-item-3-bg.jpg -->
  - title: Security Training
    icon: fa fa-graduation-cap
    desc: We share and educate people about comon security threats and hacking techniques. We are offering 3-5 day courses, that cover Web Application Security as well as binary exploitation trainings. In these trainings, the trainee will gain knowledge about cutting edge technologies and attack vectors used by advanced threats today.
    <!-- bg: /assets/images/@stock/service-item-4-bg.jpg -->
works:
  <!-- - path: _works/diff-foods.md -->
  <!-- - path: _works/sketch-book.md -->
  <!-- - path: _works/tv-video.md -->
  <!--   style: wide -->
  <!-- - path: _works/umbrella-beauty.md -->
  <!-- - path: _works/amber.md -->
  <!-- - path: _works/explore.md -->
  <!-- - path: _works/uro-mag.md -->
  <!--   style: wide -->
  <!-- - path: _works/flowers.md -->
members:
  - avatar: /assets/images/jon.jpeg
    name: Jon Barg
    position: Founder
    desc:
      "As the founder and CEO of Xladius, and as an independent Security Research and Penetration Tester, he brings extensive expertise in technical security assessments for governments and busnisses around the globe. Jon brings 6+ years of experience as a Penetration Tester, holds OSCP and OSCE certification, and participated in several professional trainings and security conferences and identified multiple critical vulnerabilities in enterprise grade and custom build applications"

team_slides:
  <!-- - /assets/images/jon.jpeg -->

testimonials:
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author:
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-1.png'
      position: 'Designer at Huglab'
  - quote: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author:
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-2.png'
      position: 'Designer at Huglab'
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author:
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-3.png'
      position: 'Designer at Huglab'

clients:
  <!-- - /assets/images/@stock/client-1.png -->
  <!-- - /assets/images/@stock/client-2.png -->
  <!-- - /assets/images/@stock/client-3.png -->
  <!-- - /assets/images/@stock/client-4.png -->

  <!-- - /assets/images/@stock/client-5.png -->
  <!-- - /assets/images/@stock/client-6.png -->
  <!-- - /assets/images/@stock/client-7.png -->
  <!-- - /assets/images/@stock/client-2.png -->

  <!-- - /assets/images/@stock/client-3.png -->
  <!-- - /assets/images/@stock/client-4.png -->
  <!-- - /assets/images/@stock/client-1.png -->
  <!-- - /assets/images/@stock/client-6.png -->
---

<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video autoplay='autoplay' id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/video1.mp4" | relative_url }}' type='video/mp4'>
      <!-- <source src='{{ "/assets/images/binary.mp4" | relative_url }}' type='video/mp4'> -->
    </video>
    <div class='overlay'></div>
    <div class='layer'>
      <p class="small-title">Enumerate, Identify, Exploit</p>
      <h1 class='thin' id="to-be-update">
         <span class="fir">Xladius</span><br/>
      </h1>
      <h2 class='thin'>
         Xladius performs realistic adversary simulation, full stack security assessments, vulnerability research.
       <!-- This is wrap, a creative digital company, creating solutions for any visual identity project, espetically for digital experiences and brand identities. -->
       <!-- {% assign nav_obj = site.data.nav | where:'section_id','works' | first %} -->
       <!-- <a href='{{ "index.html" | append:nav_obj.path | relative_url }}'>View our works</a> -->
      </h2>

      <h2 class='thin'>Protecting Governments and Businesses from real world cyber threats</h2>
    </div>
  </div>
</div>


<a id='about'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Cyber Security Advisory</p>
        <h2>
          We deliver vendor agnostic security services<br/>

        </h2>
        <p class="big-size">Xladius conducts utlizses bleeding edge research and technology to deliver realistic adversery simulation and technical security assessments</p>
        <p class="big-size">The founder Jon Barg has extensive experience in penetration testing for governments and businesses in Europe and the Middle East</p>

        <div class="four spacing"></div>
        <img src="{{ "/assets/images/logo-black.png" | relative_url }}" alt="">
      </div>
    </div>
    <div class="four spacing"></div>
  </div>
</div>
<div class="full no-overflow no-padding parallax" style="background-image: url({{ "/assets/images/ida.jpg" | relative_url }})">
  <div class="right-half">
    <div class="two spacing"></div>
    <div class="section-header alt white">
      <h2>Research Focused</h2>
    </div>
    <p class="light">Xladius goal is to utilze the most modern hacking and pentesting techniques, to engage in commercial clients.</p>
    <p class="light">Out vision is, that only a security company that is activly research new technologies and attack vectors will be able to protect governments and businesses in the future.</p>
    <div class="two spacing"></div>
    <a href="#" class="button small">Meat the team</a>
    <div class="three spacing"></div>
  </div>
</div>


<a id='services'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">main services</p>
        <h2>We deliver full stack security assessments</h2>
      </div>
    </div>
  </div>
</div>
<div class='full no-overflow no-padding'>
  <div class='main-services'>
    {% for item in page.services %}
      <div class='medium-6 large-4 columns'>
        {% include service.html service=item %}
      </div>
    {% endfor %}
  </div>
</div>


<!-- <a id='works'></a> -->
<!-- <div class='full'> -->
<!--   <div class='row'> -->
<!--     <div class='large-8 columns large-centered'> -->
<!--       {% include section-title.html small_title="take a look" title="What we recently do." %} -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
<!-- <div class='full no-padding' id="demo-1-works"> -->
<!--   <div class='mod modMasonryGallery'> -->
<!--     <ul class='gallery'> -->

<!--       {% for item in page.works %} -->

<!--         {% assign work = site.works | where:"path",item.path | first %} -->

<!--         {% if item.style == 'wide' %} -->
<!--           {% assign class = 'wide' %} -->
<!--           {% assign width = 1000 %} -->
<!--           {% assign height = 350 %} -->
<!--         {% else %} -->
<!--           {% assign class = '' %} -->
<!--           {% assign width = 500 %} -->
<!--           {% assign height = 350 %} -->
<!--         {% endif %} -->

<!--         <li class="{{class}}"> -->
<!--           <a href='{{ work.url | relative_url }}'> -->
<!--             <img width="{{width}}" height="{{height}}" alt="" src="{{ work.thumbnail | relative_url }}" /> -->
<!--             <div class='overlay'> -->
<!--               <div class='thumb-info'> -->
<!--                 <h3>{{ work.title | downcase | capitalize }}</h3> -->
<!--                 <p>{{ work.categories | join:" & " | escape }}</p> -->
<!--               </div> -->
<!--             </div> -->
<!--           </a> -->
<!--         </li> -->

<!--       {% endfor %} -->

<!--     </ul> -->
<!--   </div> -->
<!-- </div> -->
<!-- <div class='full dark no-padding '> -->
<!--   <div class="four spacing"></div> -->
<!--   <div class='row'> -->
<!--     <div class='large-8 columns'> -->
<!--       <h3 class="white">Customized to meet your needs.</h3> -->
<!--       <p> -->
<!--         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur inventore minimar. -->
<!--       </p> -->
<!--     </div> -->
<!--     <div class='large-4 columns'> -->
<!--       <p> -->
<!--         <a class='button small boxed' href='#'>Download Now</a> -->
<!--       </p> -->
<!--     </div> -->
<!--   </div> -->
<!--   <div class='two spacing'></div> -->
<!-- </div> -->


<a id='team'></a>
<div class='full dark-grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="The team" title="About Xladius" %}
    </div>
  </div>
</div>
<div class="full dark-grey no-padding">
  <div class="members">
    {% for member in page.members %}
      <div class="small-3 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full no-padding team-bg">
  <div class="div member-decs">
    {% for member in page.members %}
      <div class="large-3 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ member.name | escape }}</h3>
            <h4>{{ member.position | escape }}</h4>
            <p>{{ member.desc | escape }}</p>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{ social.link }}'>
                    <i class='fa fa-{{ social.icon }}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="four spacing"></div>
</div>
<div class="full no-padding">
  <div class='mod modBoxedSlider' data-timeout='1500'>
    <div class='slides'>
      {% for image in page.team_slides %}
        <div class='slide'>
          <img width="1200" height="800" alt="" src="{{ image | relative_url }}" />
        </div>
      {% endfor %}
    </div>
  </div>
</div>


<a id='blog'></a>
<div class='full grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="latest posts" title="Xladius Blog." %}
    </div>
  </div>
</div>
<div class="full grey no-padding no-overflow">
  {% for post in site.posts limit:3 %}
    <div class='large-4 columns'>
      <div class='mod modBlogPost simple'>
        <div class='content'>
          <p class='date'>{{ post.date | date: "%B %d, %Y" }}</p>
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class='spacing'></div>
          <p>
            <a class='button boxed yellow tiny' href='{{ post.url | relative_url }}'>Read more</a>
          </p>
        </div>
      </div>
      <div class="four spacing"></div>
    </div>
  {% endfor %}
</div>


<!-- <div class='full no-overflow no-padding parallax' style="background-image: url({{ "/assets/images/@stock/customers-bg.jpg" | relative_url }})"> -->
<!--   <div class="left-half"> -->
<!--     <div class="two spacing"></div> -->
<!--     <div class="row"> -->
<!--       <div class="section-header alt white"> -->
<!--         <h2>What our clients say</h2> -->
<!--       </div> -->
<!--       <div class='mod modTestimonials simple'> -->
<!--         <div class='row'> -->
<!--           <div class='small-12 columns'> -->
<!--             <div class='items'> -->
<!--               {% for t in page.testimonials %} -->
<!--                 <div class='item'> -->
<!--                   <p class='quote'>{{ t.quote }}</p> -->
<!--                   <div class="two spacing"></div> -->
<!--                   <div class='author'> -->
<!--                     <p class='author-avatar'> -->
<!--                       <img width="80" height="80" alt="" src="{{ t.author.avatar | relative_url }}" /> -->
<!--                     </p> -->
<!--                     <p class='author-name'> -->
<!--                       - -->
<!--                       <strong>{{ t.author.name }}</strong> -->
<!--                       {%- if t.author.position %}, {{ t.author.position }}{% endif %} -->
<!--                     </p> -->
<!--                   </div> -->
<!--                 </div> -->
<!--               {% endfor %} -->
<!--             </div> -->
<!--           </div> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

<!-- <div class='full'> -->
<!--   <div class='row'> -->
<!--     <div class='large-8 columns large-centered'> -->
<!--       {% include section-title.html small_title="we are happy" title="Featured clients" %} -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
<!-- <div class="full no-padding"> -->
<!--   <div class="clients"> -->
<!--     <div class='row'> -->
<!--       {% for client in page.clients %} -->
<!--         <div class='large-3 medium-6 small-6 columns'> -->
<!--           <div class="client"> -->
<!--             <a href="javascript:void(0)"><img alt="" src="{{ client | relative_url }}" /></a> -->
<!--           </div> -->
<!--         </div> -->
<!--       {% endfor %} -->
<!--     </div> -->
<!--   </div> -->
<!--   <div class="four spacing"></div> -->
<!-- </div> -->

<div class="four spacing"></div>
<a id='contact'></a>
{% include contact-form.html %}

<!-- {% include social-networks.html %} -->
